*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    
}

a{
    text-decoration: none;
}

.header{
    backdrop-filter: blur(18px) saturate(180%); 
    -webkit-backdrop-filter: blur(18px) saturate(180%);
    background-color: #ffffff;
    min-width: 100vw;
    height:150px;
    top: 0;  
    position: fixed;
    display: flex;
    z-index: 1;
    align-items: center;
}
.p-home{
    text-decoration: none;   
    margin-left: 2vw;
    padding: 5px;
}

.link-header:hover{
    color: #cb1b2c;
    border-radius: 5px;
    transition: 0.4s;
    box-shadow:#1c1c1c;
}

.link-header {
    text-decoration: none;
    color: black;
}
/* 
% = relativo a su contenedor
vh = % alto relativo a la pantalla en la que se vea
vw = %  ancho relativo a la pantalla en la que se vea
 */
.main{
    margin-top: 150px;
    min-height: 100vh;
    position: relative;
    justify-content: center;
    background-color: #F4F4EC;
}

.logo{
    position: absolute;
    left: 2vw;
    padding-top:1vh;
}
.img-logo{
    width: 273px;
    height: 111px;
}
.nav{
    text-decoration: none;
    position: absolute;
    left: 20vw;
    margin-right: 2vw;
}


.pags{
    position: absolute;
}

h2{
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
}
h3{
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
}
p{
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
}

header nav ul li{
    font-family: HelveticaNeueLTStd-Lt, sans-serif;
    font-size: 25px;
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
}

.body{    
    min-height: 100vh;
    background-color: #F4F4EC;
}

/* ////////////////////////////////////////////////-HOME-////////////////////////////////////////////////////// */
.cont-subtitulo{
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px 10px 10px 10px;
    
}

.subtitulo-nov{
    font-size: 64px;
    font-family: 'Hammersmith-One';
    width: 100%;
    height: 85px;
    display: inline-block;
    text-align: center;
    align-content: center;
    margin: 20px 0 20px;
}



.article-1{
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-between;
    width: 97%;
    height: 700px;
    margin: auto;
    margin-bottom: 100px;
}

.section-1{
    display: flex;
    order: 1;
    flex-flow: column wrap;
    width: 372px;
    height: 100%;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin-left: 10px;
}

.section-2{
    display: flex;
    order: 2;
    flex-flow: column wrap;
    width: 531px;
    height: 100%;
    align-items: center;
    align-content: center;
    justify-content: space-between;

}

.section-3{
    display: flex;
    order: 3;
    flex-flow: column wrap;
    width: 372px;
    height: 100%;
    right: 0;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

#sub-index{
    font-size: 32px;
    width: 372px;
    height: 32px;
    text-align: center;
    color: #333;
}

#desc-index{
    display: inline-block;
    text-align: center;
    font-size: 20px;
    width: 372px;
    height: 105px;
    padding-top: 5px;
    margin-bottom: 20px;
}

.cont-thrasher{
    display: inline-block;
    width: 372px;
    height: 500px;
}
.img-thrasher{
    width: 372px;
    height: 500px;
}

.cont-potato{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 531px;
    height: 500px;
}
.img-potato{
    display: flex;
    order: 1;
    width: 531px;
    height: 322px;
}


.cont-sandy{
    display: inline-block;
    width: 372px;
    height: 500px;
}
.img-sandy{
    display: inline-block;
    width: 372px;
    height: 500px;
}

/* ////////////////////////////////////////////-NOSOTROS-////////////////////////////////////////////////////// */
.nosotros{
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 7px;
}

.cont-vans-50{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 704px;
    top: 0;
    margin-bottom: 10px;
}
.vans-50{
    width: 268px;
    height: 253px;
    display: inline-block;
    align-items: center;
    
}
.cont-nosotros-1{
    display: inline-block;
}

.nosotros-1{
    width: 704px;
    height: 133px;
    font-size: 22px;
    left: 0;
}

.cont-primer-local{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 528px;
    height: 352px;
    margin-right: 10px;
    margin-top: 10px;
}
.primer-local{
    width: 528px;
    height: 352px;
}

.cont-nosotros-2{
    display: inline-block;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    margin-top: 40px;

}

.nosotros-2{
    width: 704px;
    height: 206px;
    font-size: 22px;
    justify-content: flex-start;
}

.img-nosotros{
    display: flex;
    justify-content: space-evenly;
    width: 662px;
    height: 400px;
}

.amano{
    display: inline-block;
    width: 240px;
    height: 400px;
}

.shoe-fabrica{
    display: inline-block;
    width: 398px;
    height: 400px;
}

/* /////////////////////////////////////////////-PRODUCTOS-//////////////////////////////////////////////////// */
.contenedor-grids{
    display: grid;
    grid-template-columns: repeat(3, 330px);
    column-gap: 165px;
    grid-template-rows: repeat(2, 330px 34px 132px);
    row-gap: 9px;
    align-items: center;
    width: 97%;
    height: 100vh;
    margin: 0 auto;
    margin-top: 190px;
    margin-bottom: 200px;
    grid-template-areas:
    "gif-calzado gif-buzos gif-camperas"
    "calzados-h2 buzos-h2 camperas-h2"
    "calzados-p buzos-p camperas-p"
    "gif-accesorios gif-remeras gif-pantalones"
    "accesorios-h2 remeras-h2 pantalones-h2"
    "accesorios-p remeras-p pantalones-p"
    ;
}
.grid{
    height: 160vh;
}
.gif-calzado{
    grid-area: gif-calzado;
}
.gif-buzos{
    grid-area: gif-buzos;
}
.gif-camperas{
    grid-area: gif-camperas;
}

.calzados-h2{
    grid-area: calzados-h2;
}
.buzos-h2{
    grid-area: buzos-h2;
}
.camperas-h2{
    grid-area: camperas-h2;
}

.calzados-p{
    grid-area: calzados-p;
}
.buzos-p{
    grid-area: buzos-p;
}
.camperas-p{
    grid-area: camperas-p;
}

.gif-accesorios{
    grid-area: gif-accesorios;
}
.gif-remeras{
    grid-area: gif-remeras;
}
.gif-pantalones{
    grid-area: gif-pantalones;
}

.accesorios-h2{
    grid-area: accesorios-h2;
}
.remeras-h2{
    grid-area: remeras-h2;
}
.pantalones-h2{
    grid-area: pantalones-h2;
}

.accesorios-p{
    grid-area: accesorios-p;
}
.remeras-p{
    grid-area: remeras-p;
}
.pantalones-p{
    grid-area: pantalones-p;
}

/* Titulos de los productos */
.grids-h2{
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color: #333;
}

/* Descripcion de los productos */
.grids-p{
    font-size: 20px;
    text-align: center;
    color: #333;
    margin-bottom: 23px;
}

/* Fotos de los productos */
#articulos{
    width: 330px;
    height: 330px;
}

/* ///////////////////////////////////////////////-ENCONTRANOS-//////////////////////////////////////////////// */
.cont-caba{
    display: flex;
    display: inline-block;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 1178px;
    height: 254px;
}

.local-1{
    display: flexbox;
    width: 502px;
    height: 254px;
}

.local-2{
    display: flexbox;
    width: 502px;
    height: 254px;
}






/* ///////////////////////////////////////////////-ATENCION-/////////////////////////////////////////////////// */





/* ///////////////////////////////////////////////-FOOTER-///////////////////////////////////////////////////// */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 150px;
    padding: 0 50px;
    margin-top: auto;
    background-color: #1c1c1c;
}
footer ul li{
    font-family: HelveticaNeueLTStd-Lt, sans-serif;
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
}

footer ul li img{
    width: 80px;
    height: 80px;
}